body {
	/*font-size: 1.5em;*/
}
header {text-align: center;}

@media (min-width: 600px) {
	main {margin: 0 3em;}
}
@media (min-width: 900px) {
	main {margin: 0 5em;}
}


.buttons {
	display: flex;
}
.buttons > :first-child {
	flex:1;
}
button[disabled] {
	opacity: .1;
}
i.fa {
	pointer-events: none;
	font-size: 1.3em;
}

ol {
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
	transition: all .3s ease-in-out;
	height:0;
}
li {
	position: absolute;
	width: 100%;
	transition: all .3s ease-in-out;
}

li > label {
	background-color: #eee;
	display: block;
	display: flex;
}
input:not([type]), input[type=text], li > label > span {
	font-size: 1.2em;
}
input[type=checkbox] {
/*	transform: scale(1.2) translateY(2px);
	transform-origin: 100% 50%;
	margin-right: .6rem;*/
	display: none;
}
input[type=checkbox]:checked ~ * {
	text-decoration: line-through;
}


span[contenteditable] {
	display: inline-block;
	vertical-align: middle;
	min-width: 2em;
	cursor: text;
	flex: 1;
}
span:first-of-type {
	padding: .6rem .4rem 1rem;
	cursor:move;
}
time, span {padding: .8rem .4rem;}

button {
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
}
