body {
	font-family: 'Open Sans', sans-serif;
	
	/*font-size: 1.5em;*/
	/*--grad: 80%;*/
}
header {text-align: center;}

@media (min-width: 600px) {
	main {margin: 0 3em;}
}
@media (min-width: 900px) {
	main {margin: 0 5em;}
	/*body {--grad: 90%;}*/
}


.buttons {
	display: flex;
	justify-content: center;
}

button[disabled] {
	opacity: .1;
}
i.fa {
	pointer-events: none;
	font-size: 1.3em;
}

ol {
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
	height:0;
	transition: all .3s ease-in-out;
}

li {
	position: absolute;
	width: 100%;
	background-color: rgba(240,240,240,.5);
	display: flex;
	align-items: center;
	transition: all .3s ease-in-out;
	/*background-image: linear-gradient(to right, transparent var(--grad), rgba(150,0,0,.4));*/
}

li:first-child {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
li:last-child {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
input:not([type]), input[type=text], li div {
	font-size: 1.2em;
}
input[type=checkbox] {
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
	cursor: pointer;
	line-height: 0;
	margin: 0 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	/*border-radius: 50%;*/
	/*border: 1px solid #ccc;*/
	transition: all .15s ease-in-out;
	overflow: hidden;
}
input[type=checkbox]:before {
	content: attr(data-time);
	/*opacity: 0;*/
	transition: all .15s ease-in-out;
	/*color: white;*/
	padding: .5rem 1rem;
	/*font-size: 25px;*/
/*	-webkit-clip-path: circle(30px);
	-moz-clip-path: circle(30px);*/
}
input[type=checkbox]:hover {
	/*background-color: rgba(22,198,12,.1);*/
	opacity: .6;
}

input[type=checkbox]:checked {
	/*background-color: rgb(22,198,12);*/
	background-image:	none!important;
}
input[type=checkbox]:checked::before {
	content: "✓";
	color: #16c60c;
	font-size: 1.5em;
}


input[type=checkbox]:checked + div {
	text-decoration: line-through;
	opacity: .25;
}

li > div {
	min-width: 2em;
	padding: .75rem 1rem;
	flex: 1;
	cursor: text;
	white-space: pre-wrap;
}
li > div img {
	max-height: 70px;
	vertical-align: middle;
}

button {
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
}
